.skills-page 
{
    display: flex;
    // justify-content: center;
    align-items: center;

    .central-wrapper
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0px auto;

        // Main text
        .main-text
        {
        
            
            // position: absolute;
            // margin-top: 80px;
            margin: 0px auto;
            margin-bottom: 100px;
            left: 5%;
            // top: 100px;
            // transform: translateY(-50%);
            width: 90%;
            vertical-align: middle;
            // display: table-cell;
            max-height: 90%;
            
    
            h1 
            {
                font-size: 38px;
                font-family: 'Coolvetica';
                color: rgb(96 165 250);
                font-weight: 400;
                margin-top: 0;
                position: relative;
                margin-bottom: 30px;
                left: 10px;
            }
    
            .skills-list 
            {
                display: flex;
                flex-direction: row;
                // background-color: aqua;
                justify-content: space-between;
                padding: 0px 5px;
    
                .skills-list__left, .skills-list__right
                {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    // justify-content: center;
                    // align-items: center;
                    width: 40%;
                }
    
                .skills-list__left div, .skills-list__right div
                {
                    display: flex;
                    // justify-content: center;
                    align-items: center;
                    margin-bottom: 20px;
                }
    
                .skills-list__left span, .skills-list__right span
                {
                    float: left;
                    padding-left: 10px;
                    font-size: 13px;
                    color: white;
                }
    
                svg
                {
                    font-size: large;
                }
    
            }
    
        }
    
        .text-animate-hover
        {
            &:hover 
            {
                color:rgb(219 234 254)
            }
        }
    
        // Cube Container
        .cube-container
        {
            // margin-top: 100px;
            margin-left: 5%;
            display: block;
            margin: 0% auto;
            // left: 5%;
            // top: 100px;
            // transform: translateY(-50%);
            // width: 90%;
            // vertical-align: middle;
            // display: table-cell;
            max-height: 90%;
    
            svg 
            {
                font-size: large;
            }
    
            // Icons cube animation
            .cubespinner
            {
                animation-name: spincube;
                animation-timing-function: ease-in-out;
                -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
                animation-duration: 12s;
    
                transform-style: preserve-3d;
                transform-origin: 100px 100px 0;
                margin-left: calc(30% - 100px);
    
                div 
                {
                    position: absolute;
                    width: 200px;
                    height: 200px;
                    border: 1px solid #CCC;
                    background: rgb(255, 255, 255, 0.2);
                    font-size: 70px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 0 0 20px 0px lightblue;
    
                    svg
                    {
                        font-size: 70px;
                    }
                }
    
                .face1 
                {
                    transform: translateZ(100px);
                }
                .face2 
                {
                    transform: rotateY(90deg) translateZ(100px);
                }
                .face3 
                {
                    transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
                }
                .face4 
                {
                    transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
                }
                .face5 
                {
                    transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
                }
                .face6 
                {
                    transform: rotateX(-90deg) translateZ(100px);
                }
            }
    
            @keyframes spincube 
            {
                from,
                to { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }   
                16% { transform: rotateY(-90deg); } 
                33% { transform: rotateY(-90deg) rotateZ(90deg); } 
                50% { transform: rotateY(-180deg) rotateZ(90deg); } 
                66% { transform: rotateY(-270deg) rotateZ(90deg); } 
                83% { transform: rotateX(90deg); } 
            }
        } 
    }

}

// Main text for medium screens
@media (min-width: 768px)
{
    .skills-page
    {
        .central-wrapper
        {

            .main-text
            {
                margin-left: 5%;
                display: block;
                margin: 0% auto;
                margin-top: 90px;
                margin-left: 8%;
                // left: 8%;
                width: 60%;
    
                h1 
                {
                    font-size: 48px;
                }
    
                .skills-list
                {
                    svg
                    {
                        font-size: x-large;
                    }
                }
            }
        }
        
    }
}

// Main text for large screens
@media (min-width: 992px)
{
    .skills-page
    {
        .central-wrapper
        {
            flex-direction: row;
            .main-text
            {
                margin-top: 100px;
                margin-left: 10%;
                // left: 10%;
                width: 50%;
    
                .skills-list
                {
                    display: flex;
                    flex-direction: row;
                    // background-color: aqua;
                    justify-content: flex-start;
                    width: auto;
                    svg
                    {
                        font-size: xx-large;
                    }
    
                    // Fade in left skills list
                    .skills-list__left 
                    {
                        div 
                        {
                            animation: fadeIn 1s backwards;
                           
                            &:nth-of-type(1)
                            {
                                animation-delay: 1.8s;
                            }
    
                            &:nth-of-type(2)
                            {
                                animation-delay: 2.0s;
                            }
    
                            &:nth-of-type(3)
                            {
                                animation-delay: 2.2s;
                            }
                            &:nth-of-type(4)
                            {
                                animation-delay: 2.4s;
                            }
                            &:nth-of-type(5)
                            {
                                animation-delay: 2.6s;
                            }
                            &:nth-of-type(6)
                            {
                                animation-delay: 2.8s;
                            }
                        }
                    }
    
                    // Fade in right skills list
                    .skills-list__right 
                    {
                        div 
                        {
                            animation: fadeIn 1s backwards;
    
                            &:nth-of-type(1)
                            {
                                animation-delay: 3.0s;
                            }
    
                            &:nth-of-type(2)
                            {
                                animation-delay: 3.2s;
                            }
                            &:nth-of-type(3)
                            {
                                animation-delay: 3.4s;
                            }
                            &:nth-of-type(4)
                            {
                                animation-delay: 3.6s;
                            }
                            &:nth-of-type(5)
                            {
                                animation-delay: 3.8s;
                            }
                            &:nth-of-type(6)
                            {
                                animation-delay: 4.0s;
                            }
                        }
                    }
                }
            }
        }
    }
}



// Cube Container for medium screens
@media (min-width: 768px)
{
    .skills-page
    {
        .central-wrapper
        {

            // flex-direction: row;
    
            .cube-container
            {
                padding-top: 18%;
                
                display: flex;
                justify-content: center;
                
        
                svg 
                {
                    font-size: x-large;
                }
        
                // Icons cube animation
                .cubespinner
                {
                    div 
                    {
                        svg
                        {
                            font-size: 100px;
                        }
                    }
        
                }
            }
        }
    }
}

// Cube Container for large screens
@media (min-width: 992px)
{
    .cube-container
    {
        // display: block;
        // margin: 0 auto;
        // padding-top: 18%;;
        // margin-left: 0;
        // padding-left: 0;
        width: 50%;
        // overflow: hidden;
        position: relative;
        left: -15%;


        svg 
        {
            font-size: xx-large;
        }

    }
}





