@import '../../App.scss';

.app__navbar
{
    width: 30%;

    display: flex;
    justify-content: flex-end;
    // align-items: center;
    margin-left: 70%; //margin-left: 70%
    padding: 1rem 2rem;
    // background: rgba(255, 255, 255, 0.25);
    // backdrop-filter: blur(4px);
    // -webkit-backdrop-filter: blur(4px);
    // border: 1px slid rgba(255, 255, 255, 0.18);
    position: fixed;
    z-index: 888;

    @media (min-width: 992px)
    {
        display: none;
    }
}


@media (max-width: 991px)
{
    .app__navbar-menu
    {
        width: 35px;    
        height: 35px;  
        border-radius: 50%;
        // position: relative;
        position: absolute;
    
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(96, 153, 217, 0.18);
        float: right;

        // Burger
        &:first-child
        {
            margin: 0.5rem 3.5rem;
        }
    
        svg
        {
            width: 70%;
            height: 70%;
            color: $blue-100;
            // z-index: 90;
        }

        // Adjust burger on smart phones
        @media (max-width: 767px)
        {
            &:first-child
            {
                margin: 0 0.5rem;
            }
        }
        

    
    
        // Motion div 
        div
        {
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            z-index: 5;
            opacity: 0;
    
            padding: 1rem;
            padding-left: 2.5rem;
    
            width: 80%;
            height: 100vh;
    
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            flex-direction: column;
    
            background: rgba(255, 255, 255, 0.20);
            backdrop-filter: blur(4px);
            -webkit-backdrop-filter: blur(4px);
            -moz-backdrop-filter: blur(4px);
            border: 1px slid rgba(255, 255, 255, 0.18);
    
            box-shadow: 0 0 20px rgba(168, 168, 168, 0.18);
    
            svg 
            {
                width: 35px;
                height: 35px;
                color: $blue-100;
                margin: 0.5rem 1rem;
            }
    
            ul 
            {
                list-style: none;
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                
    
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                
    
                li 
                {
                    margin: 1rem;
                    cursor: pointer;;
    
                    a 
                    {
                        color: $blue-100;
                        text-decoration: none;
                        font-size: 15px;
                        text-transform: uppercase;
                        font-weight: 500;
    
                        transition: all 0.3s ease-in-out;

    
                        &:hover
                        {
                            color: rgba(255, 255, 255);
                        }
                    }
                }
            }
        }
    }
}



// Scroll active class
ul .active 
{
    cursor: pointer;
    border-left: 1px solid white;
    padding-left: 5px;
    font-style: italic;
    color: rgba(255, 255, 255);
    font-size: 25px;
}



