// About abd Contact Pages 
// General default styling ( mobile )

.about-page,
.contact-page
{   
    display: flex;
    align-items: center;

    .main-text
    {
        width: 90%;
        vertical-align: middle;
        display: table-cell;
        max-height: 90%;

        h1 
        {
            font-size: 38px;
            font-family: 'Coolvetica';
            color: rgb(96 165 250);
            font-weight: 400;
            margin-top: 0;
            position: relative;
            margin-bottom: 30px;
            left: 10px;
        }

        h3,
        h4
        {
            color: rgb(96 165 250);
        }

        h5 
        {
            color:rgb(219 234 254);
        }

       p 
       {
           font-size: 17px;
           color: rgb(219 234 254);
           font-family: sans-serif;
           font-weight: 300;
           min-width: fit-content;
           animation: pulse 1s;
           margin-bottom: 16px;

           &:nth-of-type(1)
           {
               animation-delay: 1.1s;
           }

           &:nth-of-type(2)
           {
               animation-delay: 1.2s;
           }
       }

       .grid 
       {
           // Grid animations
           animation: pulse 1s;

           &:nth-child(1)
           {
               animation-delay: 1.3s;
           }
           &:nth-child(2)
           {
               animation-delay: 1.4s;
           }
           &:nth-child(3)
           {
               animation-delay: 1.4s;
           }
           &:nth-child(4)
           {
               animation-delay: 1.5s;
           }
           &:nth-child(5)
           {
               animation-delay: 1.5s;
           }
           
           // Grid specifications / areas
           .work__experience
           {
               grid-area: work__experience;
           }
           .ccit
           {
               grid-area: ccit;
           }
           .ccit__year
           {
               grid-area: ccit__year;
           }
           .ccit__portfolio
           {
               grid-area: ccit__portfolio;
           }
           .goldtech
           {
               grid-area: goldtech;
           }
           .goldtech__portfolio
           {
               grid-area: goldtech__portfolio;
           }
           .goldtech__year
           {
               grid-area: goldtech__year;
           }

           display: grid;
           grid-template-columns: 1fr;
           grid-template-rows: auto;
           grid-row-gap: 5px;
           grid-template-areas: 
           "work__experience"
           "ccit"
           "ccit__portfolio"
           "ccit__year"
           "goldtech"
           "goldtech__portfolio"
           "goldtech__year";
   
           // Medium and Large screens
           @media (min-width: 768px)
           {
               grid-gap: 5px 10px;
               grid-template-areas: 

               "work__experience work__experience"
               "ccit goldtech"
               "ccit__portfolio goldtech__portfolio"
               "ccit__year goldtech__year";
           }

           // Landscaoe on extra small screens
           @media screen and (max-width: 740px) and (orientation: landscape)
           {
               grid-gap: 5px 10px;
               grid-template-areas: 

               "work__experience work__experience"
               "ccit goldtech"
               "ccit__portfolio goldtech__portfolio"
               "ccit__year goldtech__year";
           }
       }

       .year 
       {
           font-size: 12px;
       }
    }

    .text-animate-hover
    {
        &:hover 
        {
            color:rgb(219 234 254)
        }
    }

}



// About and Contact pages
// Main text for medium screens
@media (min-width: 768px)
{
    .about-page,
    .contact-page
    {
        .main-text
        {
            left: 8%;
            width: 65%;

            h1 
            {
                font-size: 48px;
            }
        }
    }
}

// About and Contact pages
// Main text for large screens
@media (min-width: 992px)
{
    .about-page,
    .contact-page
    {
        .main-text
        {
            left: 10%;
            width: 40%;
        }

    }
}