.home-page {
  position: relative;
}

.home-page .main-text {
  position: absolute;
  left: 5%;
  top: 100px;
  width: 90%;
  max-height: 50%;
}

.home-page social {
  display: none;
  opacity: 0;
}

@media (min-width: 768px) {
  .home-page .main-text {
    left: 8%;
    width: 65%;
  }
}

@media (min-width: 992px) {
  .home-page .main-text {
    left: 10%;
    width: 40%;
  }
}

.home-page h1 {
  font-family: 'Coolvetica';
  font-weight: 400;
  font-size: 40px;
}

.home-page h1 svg {
  display: inline-block;
  width: 58px;
  margin-left: 20px;
  margin-right: -10px;
  margin-bottom: 18px;
  opacity: 0;
  height: auto;
  animation: rotateIn 1s linear both;
  animation-delay: 1.2s;
}

.home-page .job-h1 {
  font-size: 32px;
}

@media (min-width: 768px) {
  .home-page h1 {
    font-size: 48px;
  }
  .home-page .job-h1 {
    font-size: 38px;
  }
}

.home-page h2 {
  font-weight: 400;
  font-family: sans-serif;
  letter-spacing: 3px;
  animation: fadeIn 1s 1.5s backwards;
}

@media screen and (min-width: 992px) {
  .social {
    display: block;
    position: absolute;
    right: -120px;
    top: 8px;
    z-index: 50;
    opacity: 0.4;
  }
  .social a svg:hover {
    opacity: 1.0;
  }
}

@media screen and (max-width: 991px) {
  .flat-button {
    display: none;
  }
  .flat-button-mobile {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .flat-button {
    display: block;
  }
  .flat-button-mobile {
    display: none;
  }
}
