.page {
  width: 100vw;
  height: 100vw;
  position: absolute;
}

.container {
  will-change: contents;
  height: 90%;
  min-height: 566px;
  position: absolute;
  opacity: 0;
  margin: 0 auto;
  z-index: 1;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
}

@media (min-width: 992px) {
  .page {
    display: block;
  }
}

@media (max-width: 991px) {
  .page {
    display: none;
  }
}

.home-page {
  margin: 100px 0;
}

@media (min-width: 768px) {
  .home-page {
    margin: 5vw 0;
  }
}

@media (min-width: 992px) {
  .home-page {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.about-page {
  margin: 200vw 0;
}

@media (min-width: 768px) {
  .about-page {
    margin: 145vw 0;
  }
}

@media (min-width: 992px) {
  .about-page {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.skills-page {
  margin: 410vw 0;
}

@media (min-width: 768px) {
  .skills-page {
    margin: 290vw 0;
  }
}

@media (min-width: 992px) {
  .skills-page {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.contact-page {
  margin: 670vw 0;
}

@media (min-width: 768px) {
  .contact-page {
    margin: 435vw 0;
  }
}

@media (min-width: 992px) {
  .contact-page {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.footer-section {
  margin: 795vw 0;
}

@media (min-width: 768px) {
  .footer-section {
    margin: 475vw 0;
  }
}

@media (min-width: 992px) {
  .footer {
    margin-top: 0;
    margin-bottom: 0;
  }
}
