// Bring in the external styling involving the about component
@import '../About-Contact.scss';


.about-page
{
    flex-direction: column;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: space-between;
    min-height: 155vh;
}

.image
{    
    width: 55vw;
    height: 55vw;
    
    background: rgb(39, 51, 89, 0.4);
    // border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: 67vw;

    // animation: fadeIn 1s 2.0s backwards;

    // Portrait
    @media screen and (min-width: 768px) and (orientation: portrait)
    {
        margin-bottom: 60px;
    }

    // Portrait
    @media screen and (min-width: 820px) and (orientation: portrait)
    {
        margin-bottom: 140px;
    }

    // Portrait: extra small screens
    // @media screen and (max-width: 280px) and (orientation: portrait)
    // {
    //     // top: 685px;
    // }

    // Landscape
    // @media screen and (max-width: 991px) and (orientation: landscape)
    // {
    //     // position: absolute;
    //     // bottom: -560px;
    // }

    // Landscape: extra small screens: 720
    // @media screen and (max-width: 720px) and (orientation: landscape)
    // {
    //     top: 500px;
    // }

    // Landscape: extra small screens: 663
    // @media screen and (max-width: 668px) and (orientation: landscape)
    // {
    //     top: 500px;
    // }
}

// medium screens
@media (min-width: 768px)
{
    .about-page
    {  
        .image 
        {
            background-image: url('../../assets/kc_samm2.png');
        }
    }
}


// Large screens
@media (min-width: 992px)
{
    .about-page
    {
        flex-direction: row;
        
        .image 
        {
            position: absolute;
            top: auto;
            margin-top: 0px;

            right: 12vw;
            width: 24vw;
            height: 24vw;

            background-image: url('../../assets/kc_samm2.png');
            background-size: 30vw;
        }
    }
}


@media screen and (max-width:740px) and (orientation: landscape)
{
    .about-page
    {
        
    }
}