.page
{
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.container
{
    // width: 100vw;
    will-change: contents;
    height: 100%;
    min-height: 120%;
    position: absolute;
    opacity: 0;
    // top: 5%;
    margin: 0 auto;
    // z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards; 
    animation-delay: 1s;

    // Container on mobile landscpae
    @media (orientation: landscpae)
    {
        height: auto;
    }
   
    // Container on medium screens
    @media (min-width: 768px)
    {
        min-width: 100vw;
    }

    // Container on large screens
    @media (min-width: 992px)
    {
        min-height: 100%;
    }
}



// Layout Page
// Show default ( no scroll ) layout on large screens
@media (min-width: 992px) 
{
    .page 
    {
        display: block;
    }
}



// Hide alternate mobile view on large screens
@media (max-width: 991px)
{
    .page
    {
        display: none;
    }
}




// SCROLL LAYOUT CONTRAL
// Home page
.home-page
{
    margin: -1vh 0;
}


// Turn off outmost div margins on large screen
@media (min-width: 992px)
{
    .home-page
    {
        margin-top: 0;
        margin-bottom: 0;
    }
}



// About page
.about-page
{
    margin-top: 100vh;

    @media (orientation: landscape)
    {
        margin-top: 214vh;
    }

    // Small screens landscape: 915px
    @media screen and (max-width: 916px) and (orientation: landscape)
    {
        margin-top: 120vh;
    }

    // Small screens landscape: 896px
    @media screen and (max-width: 897px) and (orientation: landscape)
    {
        margin-top: 120vh;
    }

    // Small screens landscape: 720px
    @media screen and (max-width: 720px) and (orientation: landscape)
    {
        margin-top: 105vh;
    }

    // Extra small screens landscape: 667px
    @media screen and (max-width: 668px) and (orientation: landscape)
    {
        margin-top: 100vh;
    }

    // Extra small screens landscape: 653px
    @media screen and (max-width: 654px) and (orientation: landscape)
    {
        margin-top: 140vh;
    }

    // Extra small screens landscape: 640px
    @media screen and (max-width: 640px) and (orientation: landscape)
    {
        margin-top: 120vh;
    }

}


// Turn off outmost div margins om large screen
@media (min-width: 992px)
{
    .about-page
    {
        margin-top: 0;
        margin-bottom: 0;
    }
}


// Skills Page
.skills-page
{
    margin-top: 201vh;

    @media (orientation: landscape)
    {
        margin-top: 580vh;
    }

    // Small screens: 540px and below
    @media (max-width: 540px)
    {
        margin-top: 245vh;
    }

    // Small screens: portrait: 414px and below
    @media (max-width: 415px)
    {
        margin-top: 201vh;
    }

    // Small screens: portrait: 411px and height 732px and below
    @media (max-width: 412px) and (max-height: 732px)
    {
        margin-top: 231vh;
    }

    // Small screens: portrait: 393px and below
    @media (max-width: 393px)
    {
        margin-top: 201vh;
    }

    // Small screens: portrait: 393px and below
    @media (max-width: 394px) and (min-aspect-ratio: 1/2)
    {
        margin-top: 211vh;
    }

    // Extra small screens: portrait 389px and below
    @media (max-width: 389px)
    {
        margin-top: 240vh;
    }

    // Extra small screens: portrait 360px and below
    @media (max-width: 360px)
    {
        margin-top: 280vh;
    }

    // Extra small screens: portrait 280px and below
    @media (max-width: 280px)
    {
        margin-top: 250vh;
    }

    // Small screens landscape: 915px
    @media screen and (max-width: 916px) and (orientation: landscape)
    {
        margin-top: 470vh;
    }

    // Small screens landscape: 896px
    @media screen and (max-width: 897px) and (orientation: landscape)
    {
        margin-top: 470vh;
    }

    // Small screens landscape: 720px
    @media screen and (max-width: 720px) and (orientation: landscape)
    {
        margin-top: 320vh;
    }

    // Extra small screens landscape: 667px
    @media screen and (max-width: 668px) and (orientation: landscape)
    {
        margin-top: 410vh;
    }

    // Extra small screens landscape: 653px
    @media screen and (max-width: 654px) and (orientation: landscape)
    {
        margin-top: 575vh;
    }

    // Extra small screens landscape: 640px
    @media screen and (max-width: 640px) and (orientation: landscape)
    {
        margin-top: 470vh;
    }
}

// Turn off outmost div margins om large screen
@media (min-width: 992px)
{
    .skills-page
    {
        margin-top: 0;
        margin-bottom: 0;
    }
}


// Contact page
.contact-page
{
    margin-top: 302vh;

    @media (orientation: landscape)
    {
        margin-top: 780vh;
    }

    // Small screens: 540px and below
    @media (max-width: 540px)
    {
        margin-top: 347vh;
    }

    // Small screens: Portrait 414px and below
    @media (max-width: 415px)
    {
        margin-top: 302vh;
    }

    // Small screens: portrait: 411px and height 732px and below
    @media (max-width: 412px) and (max-height: 732px)
    {
        margin-top: 330vh;
    }

    // Small screens: portrait: 393px and height 786px and below
    @media (max-width: 394px) and (max-height: 787px)
    {
        margin-top: 310vh;
    }

    // Extra small screens: portrait 389px and below
    @media (max-width: 389px)
    {
        margin-top: 340vh;
    }

    // Extra small screens: portrait 360px and below
    @media (max-width: 360px)
    {
        margin-top: 390vh;
    }

    // Extra small screens: portrait 280px and below
    @media (max-width: 280px)
    {
        margin-top: 350vh;
    }

    // Small screens landscape: 915px
    @media screen and (max-width: 916px) and (orientation: landscape)
    {
        margin-top: 645vh;
    }

    // Small screens landscape: 896px
    @media screen and (max-width: 897px) and (orientation: landscape)
    {
        margin-top: 645vh;
    }

    // Small screens landscape: 786px
    @media screen and (max-width: 787px) and (orientation: landscape)
    {
        margin-top: 660vh;
    }

    // Extra small screens landscape: 740px
    @media screen and (max-width: 740px) and (orientation: landscape)
    {
        margin-top: 623vh;
    }

    // Small screens landscape: 720px
    @media screen and (max-width: 720px) and (orientation: landscape)
    {
        margin-top: 440vh;
    }

    // Extra small screens landscape: 667px
    @media screen and (max-width: 668px) and (orientation: landscape)
    {
        margin-top: 550vh;
    }

    // Extra small screens landscape: 653px
    @media screen and (max-width: 654px) and (orientation: landscape)
    {
        margin-top: 750vh;
    }

    // Extra small screens landscape: 640px
    @media screen and (max-width: 640px) and (orientation: landscape)
    {
        margin-top: 620vh;
    }
}


// Turn off outmost div margins om large screen
@media (min-width: 992px)
{
    .contact-page
    {
        margin-top: 0;
        margin-bottom: 0;
    }
}

// Footer
.footer-section
{
    margin-top: 403vh;

    @media (orientation: landscape)
    {
        margin-top: 900vh;
    }

    // Extra small screens landscape: 653px
    @media screen and (max-width: 654px) and (orientation: landscape)
    {
        margin-top: 1050vh;
    }

    // Extra small screens: portrait 360px and below
    @media (max-width: 360px)
    {
        margin-top: 540vh;
    }

    // Extra small screens: portrait 280px and below
    @media (max-width: 280px)
    {
        margin-top: 420vh;
    }

    // Extra small screens landscape: 640px
    @media screen and (max-width: 640px) and (orientation: landscape)
    {
        margin-top: 810vh;
    }
}


// Turn off outmost div margins om large screen
@media (min-width: 992px)
{
    .footer
    {
        margin-top: 0;
        margin-bottom: 0;
    }
}