.page
{
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.container
{
    // width: 100vw;
    will-change: contents;
    height: 100%;
    min-height: 120%;
    position: absolute;
    opacity: 0;
    // top: 5%;
    margin: 0 auto;
    // z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards; 
    animation-delay: 1s;

    // Container on mobile landscpae
    @media (orientation: landscpae)
    {
        height: auto;
    }
   
    // Container on medium screens
    @media (min-width: 768px)
    {
        min-width: 100vw;
    }

    // Container on large screens
    @media (min-width: 992px)
    {
        min-height: 100%;
    }
}



// Layout Page
// Show default ( no scroll ) layout on large screens
@media (min-width: 992px) 
{
    .page 
    {
        display: block;
    }
}



// Hide alternate mobile view on large screens
@media (max-width: 991px)
{
    .page
    {
        display: none;
    }
}




// SCROLL LAYOUT CONTRAL
// Home page
.home-page
{
    margin: -1vh 0;
}


// Turn off outmost div margins on large screen
@media (min-width: 992px)
{
    .home-page
    {
        margin-top: 0;
        margin-bottom: 0;
    }
}



// About page
.about-page
{
    margin-top: 100vh;

    @media (orientation: landscape)
    {
        margin-top: 214vh;
    }

    // Small screens landscape: 915px
    @media screen and (max-width: 916px) and (orientation: landscape)
    {
        margin-top: 120vh;
    }

    // Small screens landscape: 896px
    @media screen and (max-width: 897px) and (orientation: landscape)
    {
        margin-top: 120vh;
    }

    // Small screens landscape: 720px
    @media screen and (max-width: 720px) and (orientation: landscape)
    {
        margin-top: 105vh;
    }

    // Extra small screens landscape: 667px
    @media screen and (max-width: 668px) and (orientation: landscape)
    {
        margin-top: 100vh;
    }

    // Extra small screens landscape: 653px
    @media screen and (max-width: 654px) and (orientation: landscape)
    {
        margin-top: 140vh;
    }

    // Extra small screens landscape: 640px
    @media screen and (max-width: 640px) and (orientation: landscape)
    {
        margin-top: 120vh;
    }

}


// Turn off outmost div margins om large screen
@media (min-width: 992px)
{
    .about-page
    {
        margin-top: 0;
        margin-bottom: 0;
    }
}


// Skills Page
.skills-page
{
    margin-top: 201vh;

    @media (orientation: landscape)
    {
        margin-top: 580vh;
    }

    // Small screens: 540px and below
    @media (max-width: 540px)
    {
        margin-top: 245vh;
    }

    // Small screens: portrait: 414px and below
    @media (max-width: 415px)
    {
        margin-top: 201vh;
    }

    // Small screens: portrait: 411px and height 732px and below
    @media (max-width: 412px) and (max-height: 732px)
    {
        margin-top: 231vh;
    }

    // Small screens: portrait: 393px and below
    @media (max-width: 393px)
    {
        margin-top: 201vh;
    }

    // Small screens: portrait: 393px and below
    @media (max-width: 394px) and (min-aspect-ratio: 1/2)
    {
        margin-top: 211vh;
    }

    // Extra small screens: portrait 389px and below
    @media (max-width: 389px)
    {
        margin-top: 240vh;
    }
     

    // Portrait view for small screens: 375px by height 667px and above 
    @media screen and (max-width: 376px) and (min-height: 812px)
    {
        margin-top: 201vh
    }

    // Extra small screens: portrait 360px and below
    @media (max-width: 360px)
    {
        margin-top: 280vh;
    }

    // Portrait view for extra small screens: 360px by height 640px and above 
    @media screen and (max-width: 360px) and (min-height: 640px)
    {
        margin-top: 260vh;
    }

    // Portrait view for extra small screens: 360px by height 676px and above 
    @media screen and (max-width: 360px) and (min-height: 676px)
    {
        margin-top: 250vh;
    }

    // Portrait view for extra small screens: 360px by height 740px and above 
    @media screen and (max-width: 360px) and (min-height: 740px)
    {
        margin-top: 230vh;
    }

    // Extra small screens: portrait 280px and below
    @media (max-width: 280px)
    {
        margin-top: 250vh;
    }

    // Small screens landscape: 915px
    @media screen and (max-width: 916px) and (orientation: landscape)
    {
        margin-top: 470vh;
    }

    // Small screens landscape: 896px
    @media screen and (max-width: 897px) and (orientation: landscape)
    {
        margin-top: 470vh;
    }

    // Small screens landscape: 720px
    @media screen and (max-width: 720px) and (orientation: landscape)
    {
        margin-top: 320vh;
    }

    /* Extra small screens landscape: 676px  */
    @media screen and (max-width: 676px) and (orientation: landscape)
    {
        margin-top: 440vh;
    }

    // Extra small screens landscape: 667px
    @media screen and (max-width: 668px) and (orientation: landscape)
    {
        margin-top: 410vh;
    }

    // Extra small screens landscape: 653px
    @media screen and (max-width: 654px) and (orientation: landscape)
    {
        margin-top: 575vh;
    }

    // Extra small screens landscape: 640px
    @media screen and (max-width: 640px) and (orientation: landscape)
    {
        margin-top: 470vh;
    }
}

// Turn off outmost div margins om large screen
@media (min-width: 992px)
{
    .skills-page
    {
        margin-top: 0;
        margin-bottom: 0;
    }
}


// Projects page
.projects-page
{
    margin-top: 302vh;

    @media (orientation: landscape)
    {
        margin-top: 780vh;
    }

    // Small screens: 540px and below
    @media (max-width: 540px)
    {
        margin-top: 347vh;
    }

    // Small screens: Portrait 414px and below
    @media (max-width: 415px)
    {
        margin-top: 302vh;
    }

    // Small screens: portrait: 411px and height 732px and below
    @media (max-width: 412px) and (max-height: 732px)
    {
        margin-top: 330vh;
    }

    // Small screens: portrait: 393px and height 786px and below
    @media (max-width: 394px) and (max-height: 787px)
    {
        margin-top: 310vh;
    }

    // Extra small screens: portrait 389px and below
    @media (max-width: 389px)
    {
        margin-top: 340vh;
    }

    // Portrait view for small screens: 375px by height 667px and above 
    @media screen and (max-width: 376px) and (min-height: 812px)
    {
        margin-top: 301vh
    }

    // Extra small screens: portrait 360px and below
    @media (max-width: 360px)
    {
        margin-top: 390vh;
    }

    // Portrait view for extra small screens: 360px by height 640px and above 
    @media screen and (max-width: 360px) and (min-height: 640px)
    {
        margin-top: 360vh;
    }

    // Portrait view for extra small screens: 360px by height 676px and above 
    @media screen and (max-width: 360px) and (min-height: 676px)
    {
        margin-top: 360vh;
    }

    // Portrait view for extra small screens: 360px by height 740px and above 
    @media screen and (max-width: 360px) and (min-height: 740px)
    {
        margin-top: 340vh;
    }

    // Extra small screens: portrait 280px and below
    @media (max-width: 280px)
    {
        margin-top: 350vh;
    }

    // Small screens landscape: 915px
    @media screen and (max-width: 916px) and (orientation: landscape)
    {
        margin-top: 645vh;
    }

    // Small screens landscape: 896px
    @media screen and (max-width: 897px) and (orientation: landscape)
    {
        margin-top: 645vh;
    }

    /* Landscape view for small screens: 812px  */
    @media screen and (max-width: 812px) and (orientation: landscape)
    {
        margin-top: 665vh;
    }

    // Small screens landscape: 786px
    @media screen and (max-width: 787px) and (orientation: landscape)
    {
        margin-top: 660vh;
    }

    // Extra small screens landscape: 740px
    @media screen and (max-width: 740px) and (orientation: landscape)
    {
        margin-top: 623vh;
    }

    // Small screens landscape: 720px
    @media screen and (max-width: 720px) and (orientation: landscape)
    {
        margin-top: 440vh;
    }

    // Extra small screens landscape: 676px  
    @media screen and (max-width: 676px) and (orientation: landscape)
    {
        margin-top: 600vh;
    }

    // Extra small screens landscape: 667px
    @media screen and (max-width: 668px) and (orientation: landscape)
    {
        margin-top: 550vh;
    }

    // Extra small screens landscape: 653px
    @media screen and (max-width: 654px) and (orientation: landscape)
    {
        margin-top: 750vh;
    }

    // Extra small screens landscape: 640px
    @media screen and (max-width: 640px) and (orientation: landscape)
    {
        margin-top: 620vh;
    }
}


// Turn off outmost div margins om large screen
@media (min-width: 992px)
{
    .projects-page
    {
        margin-top: 0;
        margin-bottom: 0;
    }
}


// Contact page
.contact-page
{
    margin-top: 482vh; // 302vh +100

    @media (orientation: landscape)
    {
        margin-top: 880vh; // 780vh
    }

    // MEDIUM SCREES 

    // Portrait Medium screens: 912px
    @media screen and (max-width: 912px) and (orientation: portrait)
    {
        margin-top: 394vh;  //620vh;
    }

    // Portrait Medium screens: 820px
    @media screen and (max-width: 820px) and (orientation: portrait)
    {
        margin-top: 407vh;  //620vh;
    }

    // Portrait Medium screens: 768px
    @media screen and (max-width: 768px) and (orientation: portrait)
    {
        margin-top: 421vh;  //620vh;
    }   
    
    
    // SMALL SCREES 

    // Small screens: 540px and below
    @media (max-width: 540px)
    {
        margin-top: 517vh; // 347vh SET
    }

    // Small screens: Portrait 414px and below
    @media (max-width: 415px)
    {
        margin-top: 440vh; // 302 SET
    }

    // Small screens: portrait: 411px and height 732px and below
    @media (max-width: 412px) and (max-height: 732px)
    {
        margin-top: 498vh;    // 330vh;
    }

    // Small screens: portrait: 393px and height 786px and below
    @media (max-width: 394px) and (max-height: 787px)
    {
        margin-top: 470vh; //+100vh SET
    }

    // Small screens: portrait: 393px and height 851px and below
    @media (max-width: 393px) and (max-height: 851px)
    {
        margin-top: 444vh; //+100vh SET
    }

    // Small screens: portrait: 393px and height 786px and below
    @media (max-width: 390px) and (max-height: 844px)
    {
        margin-top: 470vh; //+100vh SET
    }

    // Extra small screens: portrait 389px and below
    @media (max-width: 389px)
    {
        margin-top: 440vh; // 340vh
    }

    // Portrait view forsmall screens: 375px by height 667px and above 
    @media screen and (max-width: 376px) and (min-height: 667px)
    {
        margin-top: 518vh;   // 301vh SET
    }

    // Portrait view for small screens: 375px by height 812px and above 
    @media screen and (max-width: 376px) and (min-height: 812px)
    {
        margin-top: 448vh;   // 301vh SET
    }

    // Extra small screens: portrait 360px and below
    @media (max-width: 360px)
    {
        margin-top: 490vh;   //390vh;
    }

    // Portrait view for extra small screens: 360px by height 640px and above 
    @media screen and (max-width: 360px) and (min-height: 640px)
    {
        margin-top: 550vh;    // 360vh;
    }

    // Portrait view for extra small screens: 360px by height 676px and above 
    @media screen and (max-width: 360px) and (min-height: 676px)
    {
        margin-top: 460vh;    // 360vh;
    }

    // Portrait view for extra small screens: 360px by height 740px and above 
    @media screen and (max-width: 360px) and (min-height: 740px)
    {
        margin-top: 512vh;   // 340vh; SET
    }

    // Extra small screens: portrait 280px and below
    @media (max-width: 280px)
    {
        margin-top:  530vh;   // 350vh;
    }

    // Small screens landscape: 915px
    @media screen and (max-width: 916px) and (orientation: landscape)
    {
        margin-top: 545vh;    // 645vh;
    }

    // Small screens landscape: 896px
    @media screen and (max-width: 897px) and (orientation: landscape)
    {
        margin-top: 545vh;   //645vh;
    }

    /* Landscape view for small screens: 812px  */
    @media screen and (max-width: 812px) and (orientation: landscape)
    {
        margin-top: 565vh; //665vh;
    }

    // Small screens landscape: 786px
    @media screen and (max-width: 787px) and (orientation: landscape)
    {
        margin-top: 560vh; // 660vh;
    }

    // Extra small screens landscape: 740px
    @media screen and (max-width: 740px) and (orientation: landscape)
    {
        margin-top: 523vh;  //623vh;
    }

    // Small screens landscape: 720px
    @media screen and (max-width: 720px) and (orientation: landscape)
    {
        margin-top: 340vh; //440vh;
    }

    // Extra small screens landscape: 676px  
    @media screen and (max-width: 676px) and (orientation: landscape)
    {
        margin-top: 500vh;  //600vh;
    }

    // Extra small screens landscape: 667px
    @media screen and (max-width: 668px) and (orientation: landscape)
    {
        margin-top: 450vh; //550vh;
    }

    // Extra small screens landscape: 653px
    @media screen and (max-width: 654px) and (orientation: landscape)
    {
        margin-top: 650vh;  //750vh;
    }

    // Extra small screens landscape: 640px
    @media screen and (max-width: 640px) and (orientation: landscape)
    {
        margin-top: 520vh;  //620vh;
    }
}


// Turn off outmost div margins om large screen
@media (min-width: 992px)
{
    .contact-page
    {
        margin-top: 0;
        margin-bottom: 0;
    }
}

// Footer
.footer-section
{
    margin-top: 483vh;

    @media (orientation: landscape)
    {
        margin-top: 900vh;
    }

    // MEDIUM SCREENS 

    // Portrait Medium screens: 912px
    @media screen and (max-width: 912px) and (orientation: portrait)
    {
        margin-top: 394vh;  //620vh;
    }

    // Portrait Medium screens: 768px
    @media screen and (max-width: 768px) and (orientation: portrait)
    {
        margin-top: 421vh;  //620vh;
    }   

    // SMALL SCREENS 

    // Extra small screens landscape: 653px
    @media screen and (max-width: 654px) and (orientation: landscape)
    {
        margin-top: 1050vh;
    }

    // Small screens: portrait 540px and below
    @media (max-width: 540px)
    {
        margin-top: 560vh;
    }

    // Small screens: Portrait 414px and below
    @media (max-width: 415px)
    {
        margin-top: 490vh;
    }

    // Portrait view for extra small screens: 375px by height 667px and above 
    @media screen and (max-width: 376px) and (min-height: 667px)
    {
        margin-top: 580vh;
    }

    // Portrait view for small screens: 375px by height 812px and above 
    @media screen and (max-width: 376px) and (min-height: 812px)
    {
        margin-top: 490vh; 
    }

    // Extra small screens: portrait 360px and below
    @media (max-width: 360px)
    {
        margin-top: 540vh;
    }

    // Portrait view for extra small screens: 360px by height 640px and above 
    @media screen and (max-width: 360px) and (min-height: 640px)
    {
        margin-top: 630vh;
    }

    // Portrait view for extra small screens: 360px by height 676px and above 
    @media screen and (max-width: 360px) and (min-height: 676px)
    {
        margin-top: 510vh;
    }

    // Portrait view for extra small screens: 360px by height 740px and above 
    @media screen and (max-width: 360px) and (min-height: 740px)
    {
        margin-top: 550vh;
    }

    // Extra small screens: portrait 280px and below
    @media (max-width: 280px)
    {
        margin-top: 590vh;
    }

    // Extra small screens landscape: 640px
    @media screen and (max-width: 640px) and (orientation: landscape)
    {
        margin-top: 810vh;
    }
}


// Turn off outmost div margins om large screen
@media (min-width: 992px)
{
    .footer
    {
        margin-top: 0;
        margin-bottom: 0;
    }
}