.page
{
    width: 100vw;
    height: 100vh;
    position: absolute;;
    top: 0;
    
}

.container
{
    min-width: 100vw;
    will-change: contents;
    min-height: 100%;
    //position: absolute; // MQ
    opacity: 0;
    // top: 5%;
    margin: 0 auto;
    // z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards; 
    animation-delay: 1s;

    // Container on mobile landscpae
    @media (orientation: landscpae)
    {
        height: auto;
    }
   
    // Container on medium screens
    @media (min-width: 768px)
    {
        min-width: 100vw;
    }

    // Container on large screens
    @media (min-width: 992px)
    {
        height: 100vh;
        overflow-y: hidden;
    }
}



// Layout Page
// Show default ( no scroll ) layout on large screens
@media (min-width: 992px) 
{
    .page 
    {
        display: block;
    }
}


// Hide alternate mobile view on large screens
@media (max-width: 991px)
{
    .page
    {
        display: none;
    }
}