.home-page 
{
    // Main text area
    .main-text 
    {
        position: absolute;
        left: 5%;
        top: 100px;
        // transform: translate(-50%);
        width: 90%;
        max-height: 50%;
    }

    // Main text area on medium screens
    @media (min-width: 768px) 
    {
        .main-text 
        {
            left: 8%;
            width: 65%;
        }
    }

    // Main text area on large screens
    @media (min-width: 992px) 
    {
        .main-text 
        {
            left: 10%;
            width: 40%;
        }
    }

    h1
    {
        font-family: 'Coolvetica';
        font-weight: 400;
        font-size: 40px;
        
        svg
        {
            display: inline-block;
            width: 58px;
            margin-left: 20px;
            margin-right: -10px;
            margin-bottom: 18px;
            opacity: 0;
            height: auto;
            animation: rotateIn 1s linear both;
            animation-delay: 1.2s;
        }
    }

    .job-h1 
    {
        font-size: 32px;
    }

    @media (min-width: 768px)
    {
        h1
        {
            font-size: 48px;
        }

        .job-h1 
        {
            font-size: 38px;
        }
    }


    h2 
    {
        font-weight: 400;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 1s 1.5s backwards;
    }

    .flat-button
    {
        // display: inline-block;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        border: 1px solid rgb(96 165 250);
        border-radius: 22px;
        float: left;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;

        &:hover 
        {
            background: rgb(96 165 250);
            color: rgb(30 58 138);
            font-weight: 600;
        }

    }
}

