.home-page 
{
    // Main text area
    .main-text 
    {
        position: absolute;
        left: 5%;
        top: 100px;
        // transform: translate(-50%);
        width: 90%;
        max-height: 50%;
    }

    // Main text area on medium screens
    @media (min-width: 768px) 
    {
        .main-text 
        {
            left: 8%;
            width: 65%;
        }
    }

    // Main text area on large screens
    @media (min-width: 992px) 
    {
        .main-text 
        {
            left: 10%;
            width: 40%;
        }
    }

    h1
    {
        font-family: 'Coolvetica';
        font-weight: 400;
        font-size: 40px;
        
        svg
        {
            display: inline-block;
            width: 58px;
            margin-left: 20px;
            margin-right: -10px;
            margin-bottom: 18px;
            opacity: 0;
            height: auto;
            animation: rotateIn 1s linear both;
            animation-delay: 1.2s;
        }
    }

    .job-h1 
    {
        font-size: 32px;
    }

    @media (min-width: 768px)
    {
        h1
        {
            font-size: 48px;
        }

        .job-h1 
        {
            font-size: 38px;
        }
    }


    h2 
    {
        font-weight: 400;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 1s 1.5s backwards;
    }

}

// Flat button behaviours on different screen sizes
@media screen and (max-width: 991px)
{
    .flat-button
    {
        display: none;
    }

    .flat-button-mobile 
    {
        display: block;
    }
}
@media screen and (min-width: 992px)
{
    .flat-button
    {
        display: block;
    }

    .flat-button-mobile 
    {
        display: none;
    }
}