/*--- Scrolling ---*/

// Disable scrolling on large screens
@media (min-width: 992px)
{
  .scroll
  {
    display: none;
  }
}

// Enable scrolling on medium and small screens
@media (max-width: 991px)
{
  .scroll
  {
    display: block;
  }
}



// Scroll Layout on medium devices
// 991px and below
@media (max-width: 991px) //912
{
  #home
  {
      min-height: 100vh;
      padding-top: 150px;
      background-image: url('../../assets/bg-blockchain.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
  }

  #about
  {
    min-height: 100vh;
    padding-top: 11vh;
  }

   #skills
   {
    min-height: 100vh;
    padding-top: 4vh;
   }

  #projects 
  {
    position: relative;
    min-height: calc((320px * 3) + 72px + 156px);
    padding-top: 11vh;
    padding-bottom: 0;
  }

  #contact
  {
    position: relative;
    min-height: calc(10vh + 20px + 40vh + 50vh);

    background-image: url('../../assets/hand_touching_global_network02.jpg');
    background-repeat: no-repeat;
    background-position: 0vw -9vh;
    background-size: 100vw;

    display: flex;
    flex-direction: column;
    // background-color: red;

    .main-text 
    {
      margin-top: 10vh;
      margin-left: -19vw;
    }

    .map-wrap
    {
      position: relative;
      height: 40vh;
      width: 100vw;
      overflow-y: hidden;

      .leaflet-container
      {
        height: 100%;
        width: 100%;
      }
    }
  }

  #footer
  {
    margin-top: 0;
    height: 50vh;
  }
}

// Layout on medium: 911px and below
@media (max-width: 911px) // 820
{
    #skills 
    {
      margin-top: 1vh;
    }
}

// Layout on medium: 819px and below
@media (max-width: 819px) // 768
{
    #about
    {
      padding-top: 11vh;
    }

    #skills
    {
      min-height: 100vh;
      padding-top: 2vh;
    }

    #projects
    {
      padding-top: -32vh;
    }

    #contact
    {
      background-position: 0vw -11vh;

      .main-text 
      {
        margin-top: 10vh; 
      }
    }

}


// Scroll Layout on small devices
@media (max-width: 767px) // 412
{
  // Background image on home page
    #home
    {
        min-height: 100vh;
        padding-top: 150px;
        background-image: url('../../assets/bg-blockchain02.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    #about
    {
        position: relative;
        min-height: 100vh;
        padding-top: 120px;
        background-image: url('../../assets/logo02.png'),
        url('../../assets/logo01.png');
        background-repeat: no-repeat, no-repeat;
        background-position: -70vw -8vh, 85vw 48vh;
        background-size: 80vw;

        .image
        {
          background-image: url('../../assets/kc_samm2.png');  
        }
    }

    #skills
    {
      position: relative;
      min-height: 100vh;
    }

    #projects 
    {
      position: relative;
      min-height: calc((320px * 3) + 72px + 156px);
      // padding-top: 13vh;
      padding-bottom: 0;

    }

    #contact
    {
      position: relative;
      min-height: 100vh;
      padding-top: 2vh;

      background-image: url('../../assets/hand_touching_global_network02.jpg');
      background-repeat: no-repeat;
      background-position: top;
      background-size: 100vw;

      .main-text
      {
        margin-left: 0vw;
      }

      .map-wrap
      {
        height: 40vh;
        width: 100vw;
        position: relative;
        overflow-y: hidden;
        padding: 20px;

        .leaflet-container
        {
          height: 100%;
          width: 100%;
        }
      }
    }

    #footer
    {
      position: relative;
      min-height: 50vh;
    }
}


@media (max-width: 411px) // 390
{
  #projects
  {
    padding-top: 13vh;
  }

  #contact 
  {
    padding-top: 2vh;
  }
}

@media (max-width: 389px) // 361
{
  #contact
  {
    padding-top: 3vh;
  }
}

@media (max-width: 360px) and (min-height: 559px)
{
  #contact 
  {
    padding-top: 6vh;
  }
}
@media (max-width: 360px) and (min-height: 640px)
{
  #about 
  {
    padding-top: 100px;
  }
  #contact 
  {
    padding-top: 4vh;
  }
}
@media (max-width: 360px) and (min-height: 740px)
{
  #contact 
  {
    padding-top: 2vh;
  }
}

// Disable scrolling on large screens
@media (min-width: 992px)
{
  .scroll
  {
    display: none;
  }
}